<!--   Purchase Section   -->
<div id="purchase" class="scrollspy">
  <div class="parallax-container valign-wrapper">
   <div class="section no-pad-bot">
     <div class="container">
     <div class="row center bgcolor">
       <h5 class="header col s12 light">El saber no ocupa lugar, pero los libros sí. Compra el tuyo!</h5>
     </div>
     </div>
   </div>
   <div class="parallax"><img src="/assets/image/background4.jpg" alt="Unsplashed background img 4"></div>
  </div>
  <div class="container">
   <div class="section">
     <div class="row">
     <div class="col s12 center">
       <h3><i class="mdi-content-send brown-text"></i></h3>
       <h4>Compra...</h4><br>
       <p class="left-align light">
        <div class="row">
       <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
        <div class="col l3 s6 center">
         <div class="card sticky-action hoverable">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="/assets/image/book1.jpg">
           </div>
           <div class="card-content">
             <span class="card-title activator grey-text text-darken-4 truncate">La desaparición de Stephenie Mailer</span>
           <div class="book-author">Joël Dicker</div>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span><br>
             <h5>Título</h5>
             <p>La desaparición de Stephenie Mailer</p><br>
             <h5>Autor/a</h5>
             <p>Joël Dicker</p>
           </div>
           <div class="card-action">
             <a href="#">Comprar</a>
           </div>
         </div>
        </div>
       </div>
     </div>
     </div>
   </div>
  </div>
</div>
