<!--   Footer Section   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="page-footer teal" id="footer">
	<div class="">
	  <div class="row">
		<div class="col l6 s6 offset-l1 offset-s1">
		  <h5 class="white-text">Tinta Virtual</h5>
		  <p class="grey-text text-lighten-4">Somos un grupo independiente de honorables escritores los cuáles quieren trasladar toda la sabiduría absorbida de los libros a la sociedad.
		  Es broma, esto es sólo un proyecto de Front End hecho en el curso IT Academy de Barcelona.</p>
		</div>
		<div class="col l3 s4 offset-l2 offset-s1">
		  <h5 class="white-text">Connect</h5>
			<div class="inline-social-icons">
			  <a href="#" class="fa fa-facebook"></a>
			  <a href="#" class="fa fa-twitter"></a>
			  <a href="#" class="fa fa-google"></a>
			  <a href="#" class="fa fa-linkedin"></a>
			  <a href="#" class="fa fa-instagram"></a>
			  <a href="#" class="fa fa-flickr"></a>
			  <a href="#" class="fa fa-skype"></a>
			  <a href="#" class="fa fa-rss"></a>
			</div>
		</div>
	  </div>
	</div>
	<div class="footer-copyright center">
	  <div class="container">
	  Made by <a class="brown-text text-lighten-3" target="_NEW" href="http://materializecss.com">Materialize</a> - <a class="orange-text text-lighten-3" target="_NEW" href="http://sergiomartinez.webcindario.com">Sergi Martínez</a> Front End Developer - <a class="green-text text-lighten-3" target="_NEW" href="https://cibernarium.barcelonactiva.cat/it-academy">IT Academy</a>
	  </div>
	</div>
</footer>
