<!--   Relax Section   -->
<div id="relax" class="scrollspy">
  <div class="parallax-container valign-wrapper">
  	<div class="section no-pad-bot">
  	  <div class="container">
  		<div class="row center bgcolor">
  		  <h5 class="header col s12 light">Sumérjete en un mar de letras, páginas y fantasía...</h5>
  		</div>
  	  </div>
  	</div>
  	<div class="parallax"><img src="/assets/image/background5.jpg" alt="Unsplashed background img 5"></div>
  </div>
  <div class="container">
  	<div class="section">
  	  <div class="row">
  		<div class="col s12 center">
  		  <h3><i class="mdi-content-send brown-text"></i></h3>
  		  <h4>Relájate...</h4>
  		  <p class="left-align light">
  		  <a href="#start">Tinta Virtual</a> te brinda el placer de descubrir citas literarias de los mejores escritores de los últimos tiempos. Cualquier momento y lugar es bueno para
  		  dejarte sucumbir por las letras y su mágia, con un café, ¿quizá un té?, en casa, al aire libre con tu dispositivo móvil, tú decides dónde y cuándo disfrutar.
  		  Ponte cómodo, por que toca relajarse, recordar, imaginar, soñar, en definitiva, ser un poco más feliz!
  		  </p>
  		</div> <!-- Try to put this with Angular -->
  		<div class="carousel">
  			<a class="carousel-item" href="#one!">
  			“Y una vez que la tormenta termine, no recordarás como lo lograste, como sobreviviste. Ni siquiera estarás seguro si la tormenta ha terminado realmente. Pero una cosa si es segura.
  			Cuando salgas de esa tormenta, no serás la misma persona que entró en ella. De eso se trata esta tormenta.”
  			<p class="author-facts">- Haruki Murakami</p></a>
  			<a class="carousel-item" href="#two!">
  			“Quiero hacer algo ahora mismo, aquí mismo, algo que los avergüence, que los haga responsables, que les demuestre que da igual lo que hagan o lo que nos obliguen a hacer,
  			porque siempre habrá una parte de cada uno de nosotros que no será suya.”<p class="author-facts">Suzanne Collins</p></a>
  			<a class="carousel-item" href="#three!">
  			“El hombre moderno vive bajo la ilusión de saber lo que quiere, cuando, en realidad, desea únicamente lo que se supone ha de desear. Saber lo que uno realmente quiere no
  			es cosa tan fácil como algunos creen, sino que representa uno de los problemas más complejos que enfrentan al ser humano.”<p class="author-facts">Erich Fromm</p></a>
  		</div>
  	  </div>
  	</div>
  </div>
</div>
