/* Normal Parallax */

.parallax-container {
  min-height: 320px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

/* Background color for Parallax img */

.bgcolor {

	background-color: rgba(0, 0, 0, 0.5);
	padding-bottom:8px;
	border-radius:4px;
	font-weight:bold;
}

/* Search Books Box */

.search-box {

	border:3px solid #64ffda!important;
	border-radius:5px;
	height:400px;
	text-align:center;

}
