<!--   Icon Section   -->

<div class="container" id="start">
	<div class="section">
		<div class="row">
			<div class="col s12 m3">
			  <div class="icon-block">
				<h2 class="center brown-text"><a href="#search" class="scrollLink"><i class="material-icons">search</i></a></h2>
				<h5 class="center">Busca</h5>
			  </div>
			</div>
			<div class="col s12 m3">
			  <div class="icon-block">
				<h2 class="center brown-text"><a href="#comment" class="scrollLink"><i class="material-icons">create</i></a></h2>
				<h5 class="center">Comenta</h5>
			  </div>
			</div>
			<div class="col s12 m3">
			  <div class="icon-block">
				<h2 class="center brown-text"><a href="#purchase" class="scrollLink"><i class="material-icons">shopping_cart</i></a></h2>
				<h5 class="center">Compra</h5>
			  </div>
			</div>
			 <div class="col s12 m3">
			  <div class="icon-block">
				<h2 class="center brown-text"><a href="#relax" class="scrollLink"><i class="material-icons">free_breakfast</i></a></h2>
				<h5 class="center">Relájate</h5>
			  </div>
			</div>
		</div>
	</div>
</div>
