<!--  Top Header  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="index-banner" class="parallax-container-intro scrollspy">
   <div class="section no-pad-bot no-padding-top">
     <div class="container">
     <div class="navbar-fixed">
       <nav class="transparent" role="navigation">
       <div class="nav-wrapper-right container ">
         <ul class="right hide-on-small-only right-nav">
           <li><a class="scrollLink" href="#index-banner"><i class="material-icons">home</i></a></li>
           <li><a class="scrollLink" href="#search"><i class="material-icons">search</i></a></li>
           <li><a class="scrollLink" href="#comment"><i class="material-icons">create</i></a></li>
           <li><a class="scrollLink" href="#purchase"><i class="material-icons">shopping_cart</i></a></li>
           <li><a class="scrollLink" href="#relax"><i class="material-icons">free_breakfast</i></a></li>
           <li><a class="scrollLink modal-trigger" href="#stadistics"><i class="material-icons">equalizer</i></a></li>
           <li><a href="mailto:tintavirtual@ITAcademy.com?Subject=Tinta%20Virtual" target="_top"><i class="material-icons">email</i></a></li>
           <li><a class="scrollLink" href="#footer"><i class="material-icons">get_app</i></a></li>
         </ul>
           <a href="#" data-target="nav-mobile" class="sidenav-trigger hide-on-med-and-up"><i class="material-icons backgndbtn">menu</i></a>
       </div>
       </nav>
     </div> <!--  Navbar for Mobile  -->
         <ul id="nav-mobile" class="sidenav">
           <li><a class="scrollLink" href="#index-banner">Tinta Virtual</a></li>
           <li><a class="scrollLink" href="#search"><i class="material-icons">search</i>Buscar Libro...</a></li>
           <li><a class="scrollLink" href="#comment"><i class="material-icons">create</i>Comenta...</a></li>
           <li><a class="scrollLink" href="#purchase"><i class="material-icons">shopping_cart</i>Compra un Libro</a></li>
           <li><a class="scrollLink" href="#relax"><i class="material-icons">free_breakfast</i>Relájate</a></li>
           <li><a class="scrollLink modal-trigger" href="#stadistics"><i class="material-icons">equalizer</i>Top</a></li>
           <li><a href="mailto:tintavirtual@ITAcademy.com?Subject=Tinta%20Virtual" target="_top"><i class="material-icons">email</i>Envíanos tu opinión</a></li>
           <li><a class="scrollLink" href="#footer"><i class="material-icons">get_app</i>Ir abajo...</a></li>
         </ul>
     <br><br>
     <h1 class="header center teal-text text-lighten-2 indesign-logo">Tinta Virtual</h1>
     <div class="row center">
       <h5 class="header col s12 light">Tu portal web #1 en Libros digitales y de siempre.</h5>
     </div>
     <div class="row center">
       <a href="#start" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 begin scrollLink">Comienza</a>
     </div>
     <br><br>
     </div>
   </div>
   <div class="parallax" id="fullheight"><img src="/assets/image/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
